body {
    background: rgb(60, 51, 130);
}

div {
    position: absolute;
    background-color: rgb(255, 255, 255, .1);
    box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    /*   display: inline-block; */
    width: 200px;
    height: 25px;
    background-color: rgb(255, 255, 255, .1);
    box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.1);
    margin: 240px auto 20px auto;
    text-align: center;
    font-size: .95em;
    font-family: Helvetica, sans;
    color: rgba(255, 255, 255, .7);

}

label,
input {
    display: block;
}

label {
    color: rgba(255, 255, 255, .7);
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, .1);
    width: 45px;
    margin: 20px 0px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: .95em;
    font-family: Helvetica, sans;
    font-weight: 600;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 400px;
    background: rgba(255, 255, 255, 0.5);
}

input[type=range]:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.5);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 400px;
    height: 11px;
    cursor: pointer;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.32);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0.4);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.32);
    border: 0px solid rgba(0, 0, 0, 0.32);
    height: 23px;
    width: 23px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.5);
}


/* ------------------------------------------------------------------------ */

input[type=range]::-moz-range-track {
    width: 400px;
    height: 11px;
    cursor: pointer;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.32);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0.32);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.32);
    border: 0px solid rgba(0, 0, 0, 0.32);
    height: 23px;
    width: 23px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-appearance: none;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 400px;
    height: 11px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.5);
    border: 0px solid rgba(0, 0, 0, 0.32);
    border-radius: 0px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.32);
}

input[type=range]::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.5);
    border: 0px solid rgba(0, 0, 0, 0.32);
    border-radius: 0px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.32);
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.32);
    border: 0px solid rgba(0, 0, 0, 0.32);
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.5);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 400px) {
    div {
        position: absolute;
        padding: 15px 40px 15px 40px;
        margin: 20px auto 25px auto;

    }

    input[type=range] {
        margin: 10px 2.5px 20px 2.5px;
        width: 195px;
    }

    .heading {
        margin: 250px auto 20px auto;
    }
}